@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INVENTORY SHOES STORES</h1>
    <p class="lead">INVENTORY SHOES STORES is a web system application for the administration of your inventories on line.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Go to Stores to see the Stores on your database.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more ...</h2>
        <p>Our system is continuosly growing, will create on a daily basis new applications to help you with the inventory of your store.</p>
    </div>
    <div class="col-md-4">
        <h2>Cost</h2>
        <p>At the moment our service is free only asking you your help to improve it with your feedback and ideas.</p>
    </div>
</div>